@import "../assets/styles/var";

.pagination {
  margin-top: 10px;
  text-align: center;

  &__button {
    display: inline-block;

    input {
      display: none;
    }
    label {
      width: 100%;
      border: 1px solid $text-color;
      border-radius: 3px;
      padding: 5px;
      margin: 0 5px;

      &:hover {
        background-color: $primary-color-40;
      }

      &:active {
        background-color: $secondary-color;
        color: $primary-color-80;
      }
    }

    input:checked + label {
      background-color: $secondary-color;
      color: $primary-color-80;
    }
  }
}
