$text-color: #061b33;


$primary-color-h: 175;
$primary-color-l: 30%;

$primary-color-100: hsl($primary-color-h, $primary-color-l, 100%);
$primary-color-80: hsl($primary-color-h, $primary-color-l, 80%);
$primary-color-70: hsl($primary-color-h, $primary-color-l, 70%);
$primary-color-60: hsl($primary-color-h, $primary-color-l, 60%);
$primary-color-50: hsl($primary-color-h, $primary-color-l, 50%);
$primary-color-40: hsl($primary-color-h, $primary-color-l, 40%);
$primary-color-30: hsl($primary-color-h, $primary-color-l, 30%);
$primary-color-20: hsl($primary-color-h, $primary-color-l, 20%);

$secondary-color: #c45238;